<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @poste.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @poste.descricao %>
</p>

<%= link_to 'Edit', edit_poste_path(@poste) %> |
<%= link_to 'Back', postes_path %>
